:root {
  --color-header: #343838;
}
.containter-body {
  width: 75%;
  margin-top: 1rem;
}

.list-body {
  margin: 2rem;
}

.list-icon {
  padding-right: 1rem;
  flex-wrap: wrap;
  align-content: center;
}

.header-body {
  color: var(--color-header);
}

.list-icon::before {
  content: "";
}

.ul-dots {
  list-style: none;
}

.list-icon-description {
  font-size: 1.5rem;
  color: grey;
}

.divider {
  color: #23a455;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider::before,
.divider::after {
  width: 30vh;
  display: flex;
  content: "";
  border: 0.1vh solid #23a455;
}

.leaf-icon {
  margin: 0.5rem;
}

/* pictures */

@media (max-width: 1280px) {
  .containter-body {
    width: 100%;
  }
}

.therapy-img {
  width: 100%;
}

.therapy-photo {
  width: 100%;
  height: 40vh;
}
