:root {
  --color-header: #343838;
}

.header-body {
  color: var(--color-header);
  margin-top: 1rem;
  margin-bottom: 0;
}

.divider {
  color: #23a455;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider::before,
.divider::after {
  width: 30vh;
  display: flex;
  content: "";
  border: 0.1vh solid #23a455;
}

.leaf-icon {
  margin: 0.5rem;
}
