:root {
  --colorNavbar: #555565;
  --facebook: #4292ff;
  --whatsApp: #1bd741;
  --email: tomato;
  --maps: rgb(129, 52, 52);
}

.logo-img {
  background-size: cover;
  object-fit: fill;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #555565;
}

/* .logo-img:hover {
  border: 2px solid #005f6b;
} */

.nav-link {
  padding: 0.9rem 1rem;
  color: var(--colorNavbar) !important;
}

.nav-link:hover {
  color: #005f6b !important;
}
.navbar {
  padding: 0.2rem 0.5rem;
}

.bg-navbar-white {
  background-color: white;
  border-bottom: 1px solid #cfcfcfe3;
}

.letter-navbar {
  font-size: larger;
  color: var(--colorNavbar) !important;
}

.letter-navbar:hover {
  background-color: #f8f8f8;
  color: #005f6b !important;
}

.color-icons {
  color: var(--colorNavbar) !important;
}

.facebook-icon:hover {
  color: var(--facebook) !important;
}

.whatsapp-icon:hover {
  color: var(--whatsApp) !important;
}

.phone-icon:hover {
  color: black !important;
}

.e-mail-icon:hover {
  color: var(--email) !important;
}

.maps-icon:hover {
  color: var(--maps) !important;
}

.dropdown-item.active {
  background-color: #839fa1;
  color: rgb(255, 255, 255) !important;
}

.dropdown-line {
  border-bottom: 1px solid #e9e7e7e3;
}
