* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto Mono, "sans-serif", monospace;
}

/* .home {
  background-color: bisque;
  background-image: url(https://img.freepik.com/vector-gratis/patron-hierbas-medicinales_1003-29.jpg?w=740&t=st=1680723859~exp=1680724459~hmac=9622e769b2902b65ceb51035212402abde6043b0f99c4dcdcbbbf6d6a280398f);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
} */
